<div class="px-5">
  <footer class="d-flex flex-wrap justify-content-between align-items-center my-4 border-top">
    <ul class="nav col-md-4 justify-content-start">
      <li class="nav-item"><a href="mailto:oliviamstroh@gmail.com" class="nav-link px-2 text-body-secondary link-body-emphasis">Email</a></li>
      <li class="nav-item"><a href="https://www.instagram.com/livstrohcreative?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" class="nav-link px-2 text-body-secondary link-body-emphasis" target="_blank">Instagram</a></li>
      <li class="nav-item"><a href="https://www.linkedin.com/in/olivia-strohecker-a07757313/" class="nav-link px-2 text-body-secondary link-body-emphasis" target="_blank">LinkedIn</a></li>
    </ul>
    <a href="{{relative_path}}index.html" class="col-md-4 d-flex align-items-center justify-content-center pt-2 mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none" aria-label="Bootstrap"> <img src="{{ relative_path }}img/OS.svg" alt="Olivia Strohecker Logo" height="40px" width = "40px"> </a>
    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="{{ relative_path }}projects.html" class="nav-link px-2 text-body-secondary link-body-emphasis">Projects</a></li>
      <li class="nav-item"><a href="{{ relative_path }}gallery.html" class="nav-link px-2 text-body-secondary link-body-emphasis">Gallery</a></li>
      <li class="nav-item"><a href="{{ relative_path }}bloghome.html" class="nav-link px-2 text-body-secondary link-body-emphasis">Blog</a></li>
    </ul>
  </footer>
</div>
