{% extends '_templates/base.njk' %}

{% block page_title %}Blog Home{% endblock %}

{% block page_description %}Index for blog posts by Olivia Strohecker{% endblock %}

{% block content %}

  <div class="container">
    <h1 class = "display-1">Blog</h1>
    <p class="blog-counter">Number of blog posts: {{ blog.blogs | length }}</p>
    <p class="blog-description">Description of blog and what you typically write about.</p>
    <h2 class = "display-3">Blog Posts Index</h2>
    <ul class="blog-posts-list">
    {% for blogPost in blog.blogs | reverse %}
      <li>
        <h3 class="{% if loop.first %}first{% endif %}"><a href="{{ relative_path }}blog-posts/{{ blogPost.slug }}.html">{{ blogPost.headline }}</a>: {{ blogPost.date }} {% if loop.first %}<span class="badge text-bg-secondary">NEW!</span>{% endif %}</h3>
      </li>
    {% endfor %}
    </ul>
  </div>
{% endblock %}
