{% extends '_templates/base.njk' %}

{% block page_title %}Blog Home{% endblock %}

{% block page_description %}Index for blog posts by Olivia Strohecker{% endblock %}

{% block content %}
{% endblock %}