{% extends '_templates/base.njk' %}

{% block page_title %}Gallery{% endblock %}

{% block page_description %}Gallery of photographs taken by Olivia Strohecker{% endblock %}

{% block content %}
  
{% endblock %}