{% extends '_templates/base.njk' %}

{% block page_title %}Home{% endblock %}

{% block page_description %}Home page for Olivia Strohecker's personal website{% endblock %}

{% block content %}

  <div class="container">
    <div class="row mb-3">
      <div class="col-12 col-md-4 mb-3">
        <img class = "img-fluid " src="{{ relative_path }}img/liv-pfp.jpg" alt="Profile photo">
      </div>
      <div class="biography col-12 col-md-8 ps-md-0">
        <h2 class="display-3">Hey! I'm Liv...</h2>
        <p class="biography-text">I'm a fourth-year journalism major and media entertainment industries minor at UT Austin! I am interested in pursuing music journalism and creative media as I am particularly interested in music, film, and the arts. I am a passionate creative dedicated to capturing the moment and uplifting others through accurate and compelling visuals and storytelling. My work is a reflection of my belief that there is art in everything and that every individual has a story worth telling.</p>
        <p class="biography-text">I am a video reporter for The Daily Texan where I primarily focus on filming feature and documentary-style stories to highlight groups, events and individuals on campus and throughout Austin. I'm also a freelance photographer and have shot for various local artists around Austin.</p>
        <p class="biography-text">I joined Bevo Video Productions in the spring semester of my freshman year to explore my interest in camera operation and the film industry. I found my passion for videography through BVP and have been lucky enough to film for Longhorn Athletics, the ITF World Tennis Tour, and campus events. This year I've spent my fall and spring semesters as the video producer for Longhorn Weekly where I filmed both the Coach Sark and Coach Terry shows at Pluckers Wing Bar.</p>
        <p class="biography-text">I've known I was a writer since I was a little girl collecting pretty journals to fill with poems, short stories, songs, and everything in between. I had a larger imagination than I knew what to do with, which has since led me to explore various creative interests and gain skills across creative landscapes. The Glaze Zine writing department has given me the space to write outside of a journalistic lens and to take my writing in a more creative direction. </p>
      </div>
    </div>
    
    <div class="">
      <div class="row mb-3 border-top justify-content-center g-3">
        <div class="col-12">
          <h2 class="display-5">Check out my...</h2>
        </div>
        <div class="col-12 col-md-4">
          <div class="card h-100">
            <div class="card-body d-flex flex-column">
              <h3 class="card-title text-center">Projects and Writing Samples</h3>
              <p class="card-text text-center">With supporting text below as a natural lead-in to additional content.</p>
              <div class="text-center mt-auto"><a href="{{relative_path}}projects.html" class="btn btn-primary">Click here!</a></div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="card h-100">
            <div class="card-body d-flex flex-column">
              <h3 class="card-title text-center">Gallery</h3>
              <p class="card-text text-center">With supporting text below as a natural lead-in to additional content.</p>
              <div class="text-center mt-auto"><a href="{{relative_path}}gallery.html" class="btn btn-primary">Click here!</a></div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="card h-100">
            <div class="card-body d-flex flex-column">
              <h3 class="card-title text-center">Blog</h3>
              <p class="card-text text-center">With supporting text below as a natural lead-in to additional content.</p>
              <div class="text-center mt-auto"><a href="{{relative_path}}bloghome.html" class="btn btn-primary">Click here!</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}