{% extends '_templates/base.njk' %}

{% block page_title %}Home{% endblock %}

{% block page_description %}Home page for Olivia Strohecker's personal website{% endblock %}

{% block content %}test.test.test{% endblock %}