{% extends '_templates/base.njk' %}

{% block page_title %}Projects{% endblock %}

{% block page_description %}A collection of projects and writing samples by Olivia Strohecker{% endblock %}

{% block content %}

{% endblock  %}