// Custom variable overrides
// See node_modules/bootstrap/scss/_variables.scss

// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";

$antiflash-white: hsla(210, 14%, 95%, 1);
$moss-green: hsla(59, 23%, 50%, 1);
$dark-green: hsla(178, 77%, 7%, 1);
$moss-green-light: hsla(59, 23%, 50%, .50);

$body-bg: $antiflash-white;
$link-hover-color: $moss-green;
$link-color: $dark-green;
$primary: $dark-green;


/* bootstrap */
// Option A: Include all of Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

// Option B: Include parts of Bootstrap
// See https://getbootstrap.com/docs/4.1/getting-started/theming/#importing

// Required
// @import "../../node_modules/bootstrap/scss/functions";
// @import "../../node_modules/bootstrap/scss/variables";
// @import "../../node_modules/bootstrap/scss/mixins";

// Import partials
@import 'nav';
@import 'jumbotron';

// universal styles

a.btn-primary {
  --bs-btn-hover-bg: #{$moss-green}; // example of interpolation
  --bs-btn-hover-border-color: #{$moss-green};
}
